<?xml version="1.0"?>
<launch>
    <arg name="namespace" default="uav0" />
    <arg name="ip" default="192.168.42.1" />
    <arg name="drone_type" default="bebop1" /> <!-- available drone types: bebop1, bebop2 -->
    <arg name="config_file" default="$(find bebop_driver)/config/defaults.yaml" />
    <arg name="camera_info_url" default="package://bebop_driver/data/$(arg drone_type)_camera_calib.yaml" />
    <group ns="$(arg namespace)">
        <node pkg="bebop_driver" name="bebop_driver" type="bebop_driver_node" output="screen">
            <param name="camera_info_url" value="$(arg camera_info_url)" />
            <param name="bebop_ip" value="$(arg ip)" />
            <rosparam command="load" file="$(arg config_file)" />
        </node>
        <include file="$(find bebop_description)/launch/description.launch" />
    </group>

    <group ns="uav1">
        <node pkg="bebop_driver" name="bebop_driver" type="bebop_driver_node" output="screen">
            <param name="camera_info_url" value="$(arg camera_info_url)" />
            <param name="bebop_ip" value="192.168.51.1" />
            <rosparam command="load" file="$(arg config_file)" />
        </node>
        <include file="$(find bebop_description)/launch/description.launch" />
    </group>

    <group ns="uav0">
    <node name="bebop_vel_ctrl" type="bebop_vel_ctrl_node" pkg="bebop_vel_ctrl" output="screen" >
        <remap from="setpoint/cmd_vel" to="velctrl/input" />
    	<!--remap from="cmd_vel" to="barrier_input_cmd_vel" /-->
    	<remap from="debug" to="vel_ctrl/debug" />
    	<rosparam command="load" file="$(find bebop_vel_ctrl)/config/bebop_vel_ctrl.yaml" />
    </node>
    </group>
    
    <group ns="uav1">
    <node name="bebop_vel_ctrl" type="bebop_vel_ctrl_node" pkg="bebop_vel_ctrl" output="screen" >
        <remap from="setpoint/cmd_vel" to="velctrl/input" />
    	<!--remap from="cmd_vel" to="barrier_input_cmd_vel" /-->
    	<remap from="debug" to="vel_ctrl/debug" />
    	<rosparam command="load" file="$(find bebop_vel_ctrl)/config/bebop_vel_ctrl.yaml" />
    </node>
    </group>
    <!--
    <group ns="uav0">
    <node pkg="flight_barrier" type="flight_barrier_node" name="flight_barrier_node" output="screen">
        <param name="x_limit" type="double" value="20.0"/>
        <param name="y_limit" type="double" value="20.0"/>
        <param name="z_limit" type="double" value="10.0"/>

        <param name="x_vel_limit" type="double" value="1.0"/>
        <param name="y_vel_limit" type="double" value="1.0"/>
        <param name="z_vel_limit" type="double" value="1.0"/>
    </node>
    </group>
   
    <group ns="uav1">
    <node pkg="flight_barrier" type="flight_barrier_node" name="flight_barrier_node" output="screen">
        <param name="x_limit" type="double" value="20.0"/>
        <param name="y_limit" type="double" value="20.0"/>
        <param name="z_limit" type="double" value="10.0"/>

        <param name="x_vel_limit" type="double" value="1.0"/>
        <param name="y_vel_limit" type="double" value="1.0"/>
        <param name="z_vel_limit" type="double" value="1.0"/>
    </node>
    </group>
    -->
</launch>
