
<launch>
  <!--param name='use_sim_time' value='true' /-->
  <node name="bebop_manager" pkg="quadrotor_code" type="bebop_manager" output="screen">
    <param name='robotnum' value='6'/>
    <param name='uav0_x' value='0'/>  <param name='uav0_y' value='0'/>
    <param name='uav1_x' value='0'/>  <param name='uav1_y' value='-3'/>
    <param name='uav2_x' value='0'/>  <param name='uav2_y' value='-6'/>
    <param name='uav3_x' value='-3'/>  <param name='uav3_y' value='0'/>
    <param name='uav4_x' value='-3'/>  <param name='uav4_y' value='-3'/>
    <param name='uav5_x' value='-3'/>  <param name='uav5_y' value='-6'/>
    
  </node>
  
  <!-- Name of the map to use (without path nor extension)  -->
  <arg name="map_file"       default="$(find quadrotor_code)/maps/maze.yaml"/> 

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="/map"/>
  </node>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find quadrotor_code)/rviz/bebop_swarm_navigation.rviz"/>
</launch>
