<launch>
  <machine name="pi0" address="192.168.21.100" user="pi" password="pi" env-loader="/home/pi/catkin_ws/env.sh" default="true"/>
  <machine name="pi1" address="192.168.21.101" user="pi" password="pi" env-loader="/home/pi/catkin_ws/env.sh"/> 
  <machine name="pi2" address="192.168.21.102" user="pi" password="pi" env-loader="/home/pi/catkin_ws/env.sh"/> 

  <arg name="odom_frame_id"   default="odom"/>
  <arg name="base_frame_id"   default="base_link"/>
  <arg name="global_frame_id" default="/map"/>
  <arg name="odom_topic" default="odom" />
  <arg name="laser_topic" default="scan" />
  <arg name="custom_param_file" default="$(find turtlebot_navigation)/param/dummy.yaml"/>

  <!--  **************Swarm Navigation  ***************  -->
  <group ns="uav0">
    <param name="tf_prefix" value="uav0" />
    <node machine="pi0" pkg="action_softbus" type="action_softbus_node" name="action_softbus_node0" output="screen">
      <param name="action_plugin_name" value="action_softbus/BebopAction"/>
      <param name="odom_frame_id" value="/uav0/odom"/>
      <param name="base_frame_id" value="/uav0/base_link"/>
      <param name="global_frame_id" value="/map"/>
      <remap from="cmd_vel" to="velctrl/input" />
    </node>
  </group>

</launch>
